@tailwind base;
@tailwind components;
@tailwind utilities;

/* Footer */
.footer {
  @apply bg-gray-800 text-white text-center py-6;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  @apply max-w-5xl mx-auto px-4 lg:px-8;
}

.social-links {
  @apply list-none flex justify-center mt-3;
}

.social-links li {
  @apply mx-2;
}

.social-links a {
  @apply text-white hover:underline;
}

/* Tech Stack Section */
.tech-stack {
  @apply p-6 md:p-10 lg:p-20 bg-gray-100 rounded-lg shadow-md;
}

.tech-stack h2 {
  @apply text-xl md:text-2xl lg:text-3xl font-semibold mb-4 text-gray-800 text-center;
}

.tech-stack ul {
  @apply list-none p-0 text-center; /* Centraliza la lista */
}

.tech-stack li {
  @apply text-sm md:text-base lg:text-lg mb-2 text-gray-600 transition-colors duration-300;
}

.tech-stack li:hover {
  @apply text-blue-500 cursor-pointer;
}

/* Underline customization */
.underline {
  text-decoration: underline;
  text-decoration-color: #4A5568;
}

/* Footer icons with hover effect */
.footer .icon-github,
.footer .icon-linkedin,
.footer .icon-stackoverflow {
  @apply transition-transform duration-200;
}

.footer .icon-github:hover,
.footer .icon-linkedin:hover,
.footer .icon-stackoverflow:hover {
  @apply transform scale-110;
}

/* Responsive improvements for smaller devices */
@media (max-width: 640px ) {
  #mobile-menu {
    @apply block;
  }
  /* Footer adjustments */
  .footer-content {
    @apply px-2;
  }

  /*mobile-menu*/
  /* Para pantallas de hasta 568px */
@media (max-width: 586px) {
  #mobile-menu {
    @apply block;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    padding: 1rem; /* Añade espacio para que el contenido sea más legible */
    font-size: 1rem; /* Tamaño de fuente adecuado para pantallas pequeñas */
  }
}

/* Para pantallas de hasta 982px */
@media (max-width: 982px) {
  #mobile-menu {
    @apply block;
    width: 100%; /* Mantén el ancho completo */
    padding: 1.5rem; /* Añade un poco más de espacio */
    font-size: 1.2rem; /* Tamaño de fuente más grande para mejor lectura */
  }
}



  /* Tech Stack adjustments */
  .tech-stack {
    @apply p-4;
  }

  .tech-stack h2 {
    @apply text-lg;
  }

  .tech-stack li {
    @apply text-sm;
  }
}
