@tailwind base;
@tailwind components;
@tailwind utilities;

/* Footer */
.footer {
  @apply bg-gray-800 text-white text-center py-6; /* Aumenta el padding aquí */
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  @apply max-w-5xl mx-auto px-4;
}

.social-links {
  @apply list-none flex justify-center mt-3;
}

.social-links li {
  @apply mx-2;
}

.social-links a {
  @apply text-white hover:underline;
}

/* Home */
.tech-stack {
  @apply p-20 bg-gray-100 rounded-lg shadow-md;
}

.tech-stack h2 {
  @apply text-xl md:text-2xl mb-4 text-gray-800;
}

.tech-stack ul {
  @apply list-none p-0;
}

.tech-stack li {
  @apply text-base md:text-lg mb-2 text-gray-600 transition-colors duration-300;
}

.tech-stack li:hover {
  @apply text-blue-500 cursor-pointer;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #4A5568; /* Customize the color if needed */
}

/* Footer icons with hover effect */
.footer .icon-github,
.footer .icon-linkedin,
.footer .icon-stackoverflow {
  @apply transition-transform duration-200;
}

.footer .icon-github:hover,
.footer .icon-linkedin:hover,
.footer .icon-stackoverflow:hover {
  @apply transform scale-110;
}
